
html {
	background-color:#8FBC8F;
}

body {
	display: flex;
	flex-direction: column;
	background-color:#66CDAA;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	color: #000;
	height: 100vh;
	width: 80%;
}

input, select, option {
	color:#0000FF;
}

input {
	margin: 10px;
}

hr {
	margin: 10px 0px;
}

h1 {
	text-align: center;
}

div {
	padding: 10px;
}

p {
	padding: 10px 0;
}

form {
	padding: 10px;
}

.wrapper {
	display: flex;
	flex-direction: column;  
	margin: auto;
	flex: 1 0 auto;
}

.footer {
	padding: 10px 20px;
	flex: 0 0 auto;
	text-align: right;
}

.btn {
	padding: 10px;
	background-color: #00FF7F;
	border: 1px solid #00FFFF;
	transition: 1s;
	color: #000;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 28px rgba(0,0,0,0.22);
}

.start {
	display: flex;
	justify-content: center;
}

.right {
	font-family: 'fdfdregular';
	background:#00FF00;
	border-radius: 50px;
	padding: 10px;	
	border: 1px solid #fff;
	margin: 10px;
}

.right:hover {
	background:#32CD32;
}

.wrong {
	font-family: 'fdfdregular';
	background:#FF4500;
	border-radius: 50px;
	padding: 10px;
	border: 1px solid #fff;
	margin: 10px;
}

.wrong:hover {
	background:#FF6347;
}